**PART 1**

In [0]:
import pandas as pd
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

In [0]:
df.dropna(inplace=True)
df['Neighborhood'] = df['Neighborhood'].str.replace('/',',')
df.reset_index(inplace=True)
df.drop(['index'], axis=1 , inplace=True)
df

    Postal code  ...                                       Neighborhood
0           M3A  ...                                          Parkwoods
1           M4A  ...                                   Victoria Village
2           M5A  ...                         Regent Park , Harbourfront
3           M6A  ...                  Lawrence Manor , Lawrence Heights
4           M7A  ...       Queen's Park , Ontario Provincial Government
..          ...  ...                                                ...
98          M8X  ...    The Kingsway , Montgomery Road , Old Mill North
99          M4Y  ...                               Church and Wellesley
100         M7Y  ...              Business reply mail Processing Centre
101         M8Y  ...  Old Mill South , King's Mill Park , Sunnylea ,...
102         M8Z  ...  Mimico NW , The Queensway West , South of Bloo...

[103 rows x 3 columns]

In [0]:
df.shape

(103, 3)

**PART 2**

In [0]:
df1=pd.read_csv("http://cocl.us/Geospatial_data")
df1.rename(columns={'Postal Code':'Postal code'}, inplace=True)
df1

    Postal code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [0]:
df2=df.merge(df1, on='Postal code')
df2

    Postal code           Borough  ...   Latitude  Longitude
0           M3A        North York  ...  43.753259 -79.329656
1           M4A        North York  ...  43.725882 -79.315572
2           M5A  Downtown Toronto  ...  43.654260 -79.360636
3           M6A        North York  ...  43.718518 -79.464763
4           M7A  Downtown Toronto  ...  43.662301 -79.389494
..          ...               ...  ...        ...        ...
98          M8X         Etobicoke  ...  43.653654 -79.506944
99          M4Y  Downtown Toronto  ...  43.665860 -79.383160
100         M7Y      East Toronto  ...  43.662744 -79.321558
101         M8Y         Etobicoke  ...  43.636258 -79.498509
102         M8Z         Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]